<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Project</title>
    <style>
        .container {
            width: 50%;
        }
        .table-cell {
            border: 1px solid black; 
            padding: 5px;
        }
        @media screen and (max-width: 600px) {
            .container {
                width: 100%;
            }
            .table-cell {
                padding: 2px;
            }
        }
    </style>
</head>
<body style="font-size: larger;">
    <div class="container">
        <h1 style="color: #908c13;">Dear {{data.sales_person}}, </h1>
        <p style="margin-top: 20px;">You assigned become a Sales Person for the project below.<br> 
        <div>
            <h3>Project Details</h3>
            <div>
                <table style="border: 1px solid black; border-collapse: collapse;">
                    <thead>
                      <tr>
                        <th scope="col" class="table-cell">Customer</th>
                        <th scope="col" class="table-cell">Project Name</th>
                        <th scope="col" class="table-cell">Start Date</th>
                        <th scope="col" class="table-cell">End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-cell">{{data.customer_name}}</td>
                            <td class="table-cell">{{data.project_name}}</td>
                            <td class="table-cell">{{data.start_date}}</td>
                            <td class="table-cell">{{data.end_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>Please see details for the project information at the button below.</p>
        <a href="http://172.16.100.210:5170/contracts/{{ data.project_id }}" target="_blank" style="background-color: #908c13; border: none; padding: 4px; width: 120px; color: white; border-radius: 3px; float: right; cursor: pointer; text-decoration: none; text-align: center;">See Details</a>
    </div>
</body>
</html>