<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Updated</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f9;">
    <div style="max-width: 600px; margin: 50px auto; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #908c13;">Dear {{data.sales_person}}, </h1>
        <p style="color: #555; font-size: 16px;">
            The project <b>{{data.project_name}}</b> has been updated.
        </p>
        <p style="color: #555; font-size: 16px;">
            You can approve or reject the newest information for the project.
        </p>
        <p style="color: #555; font-size: 16px;">
            Please see details for the project information by clicking the button below.
        </p>
        <a href="http://172.16.100.210:5170/contracts/{{ data.project_id }}" target="_blank" style="text-decoration: none;">
            <button style="background-color: #908c13; border: none; padding: 10px 20px; color: white; border-radius: 5px; cursor: pointer; font-size: 16px; margin-top: 20px;">
                See Details
            </button>
        </a>
    </div>
</body>
</html>
