@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

h1{
    @apply text-[#908c13] text-3xl mb-4 font-bold
}

h2{
    @apply text-[#908c13] font-semibold text-xl mb-2
}

label {
    @apply text-gray-500 font-sans font-semibold text-sm
}

.inputBox{
    @apply border border-gray-300 rounded-sm my-2 w-full py-[10px] px-2 text-sm outline-[#908c13]
}

.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.group {
    @apply mb-4 p-4 bg-slate-100 rounded-xl
}
.subgroup{
    @apply mb-4 shadow-md rounded-xl p-4 bg-white
}
input[type="radio"]{
    @apply w-4 h-4 mr-2
}

input[type="file"]{
    
}

.fileUpload{
    @apply flex flex-col items-center justify-center w-full min-h-24 bg-[#ffffff3f] text-gray-500 rounded-sm my-2 py-2 border border-[#b6b6b6] border-dashed transition ease-in-out duration-500
}

.active-dropzone{
    @apply bg-[#908c13] border-white
}

.active-dropzone p{
    @apply text-white
}

.active-dropzone #fileList{
    @apply text-white
}


table td {
    @apply text-sm text-gray-900 font-light px-6 py-4
}

table tbody tr{
    @apply border-b transition duration-300 ease-in-out hover:bg-gray-200
}

table th {
    @apply text-sm font-medium text-white px-6 py-4 text-left  bg-[#908c13]
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    @apply bg-[#908c1340] text-gray-600
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #ffffff;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #ffffff;
    margin-left: 0.5rem;
}

.p-inputnumber .p-inputtext:enabled:focus{
    outline: solid 1px #908c13
}

.p-progress-spinner-circle {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: 0;
    stroke: #908c13;
    animation: p-progress-spinner-dash 1.5s ease-in-out infinite, p-progress-spinner-color none;
    stroke-linecap: round;
}

.p-datatable-resizable-table > .p-datatable-thead > tr > th, .p-datatable-resizable-table > .p-datatable-tfoot > tr > td, .p-datatable-resizable-table > .p-datatable-tbody > tr > td {
    overflow: hidden;
    white-space: wrap;
}